$font: 'LatoRegular', sans-serif;
$black: #000000;
$dark: #212529;
$white: #ffffff;
$gray: #808080;
$state-gray1: #c6e2ff;
$state-gray2: #b9d3ee;
$skyblue: #87CEEB;
$blue1: #004085;
$blue2: #007bff;
$blue3: #014c8c;
$skyblue: #cce5ff;
$skyblue: #b8daff;
$darkred: #721c24;
$pink1: #f8d7da;
$pink2: #f5c6cb;
