$screen-md-min: 1200px;
$screen-sm-min: 992px;
$screen-xs-min: 768px;

$font: 'LatoRegular', sans-serif;

$black: #000000;
$dark: #212529;
$white: #ffffff;
$white2: #dddddd;
$white3: #eeeeee;
$gray: #808080;
$gray2: #333333;
$gray3: #444444;
$gray4: #666666;
$state-gray1: #c6e2ff;
$state-gray2: #b9d3ee;
$skyblue: #87CEEB;
$blue1: #004085;
$blue2: #007bff;
$blue3: #014c8c;
$skyblue: #cce5ff;
$skyblue: #b8daff;
$darkred: #721c24;
$pink1: #f8d7da;
$pink2: #f0698b;
