<table class="table">
    <thead class="thead-dark">
        <tr>
            <th #headers scope="col">Original URL</th>
            <th #headers scope="col">Created</th>
            <th #headers scope="col">Short URL</th>
            <th #headers scope="col">Copy</th>
        </tr>
    </thead>
    <tbody #body>
        <tr #rows *ngFor="let item of (shortUrls | paging : pager.currentPage : pager.pageSize)">
            <td>
                <a [attr.href]="item.originalUrl">{{ item.originalUrl | truncate : truncSymbols }}</a>
            </td>
            <td>{{ item.createdAt | date : formatDate }}</td>
            <td>
                <a [attr.href]="item.shortUrl">{{ item.shortUrl }}</a>
            </td>
            <td>
                <app-clipboard class="clipboard" [content]="item.shortUrl" (emitCopied)="copied($event)"></app-clipboard>
            </td>
        </tr>
    </tbody>
</table>