<section class="container">
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-8 col-xs-4 title">
            <h1>Shorten URL App</h1>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-8 col-xs-4">
            <h5>Simplify your links</h5>
            <div class="form">
                <app-form (emitUrl)="creatShortUrl($event)"></app-form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-8 col-xs-4">
            <app-table *ngIf="shortUrls.length" [shortUrls]="shortUrls" [pager]="pager" (emitCopied)="copied($event)"></app-table>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-7 col-md-7 col-sm-1 col-xs-0"></div>
        <div class="col col-lg-5 col-md-5 col-sm-6 col-xs-4 pagination">
            <app-pagination *ngIf="shortUrls.length > 5" [pager]="pager" (emitPage)="setActivePage($event)"></app-pagination>
        </div>
        <div class="col col-lg-0 col-md-0 col-sm-1 col-xs-0"></div>
    </div>
</section>

<app-alert class="alerts" [alert]="alert"></app-alert>
<app-popup-container></app-popup-container>