<section class="container">
        <div class="card bg-light mb-3">
            <div class="card-header">Shorten URL App</div>
            <div class="card-body">
                <h5 class="card-title">Simplify your links</h5>
                <div class="grid">
                    <div class="row">
                        <div class="col col-8">
                            <app-custom-input (emitValue)="changeUrl($event)"></app-custom-input>
                        </div>
                        <div class="col col-4">
                            <app-custom-button (emitClick)="creatShortUrl()"></app-custom-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <app-table *ngIf="shortUrls.length" [shortUrls]="shortUrls" [pager]="pager" (emitCopied)="copied($event)"></app-table>
    <div class="nav justify-content-end">
        <app-pagination *ngIf="shortUrls.length > 5" [pager]="pager" (emitPage)="setActivePage($event)"></app-pagination>
    </div>
</section>

<app-alert class="alerts" [alert]="alert"></app-alert>