<nav aria-label="url-shorten">
    <ul class="pagination">
        <li
            class="page-item"
            [ngClass]="{ 'disabled': pager.currentPage <= 3 }"
            (click)="(pager.currentPage >= 3) && emitActivePage(1)">
            <span class="page-link">First</span>
        </li>
        <li
            class="page-item"
            [ngClass]="{ 'disabled': pager.currentPage === 1 }"
            (click)="(pager.currentPage > 1) && emitActivePage(pager.currentPage - 1)">
            <span class="page-link">
                <svg class="page-link-arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 477.175 477.175" fill>
                    <g>
                        <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                            c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"/>
                    </g>
                </svg>
            </span>
        </li>
        <li
            class="page-item"
            *ngIf="pager.currentPage > 3 && pager.totalPages > 5"
            (click)="emitActivePage(1)">
            <span class="page-link">1</span>
        </li>
        <li
            class="page-item disabled"
            *ngIf="pager.currentPage > 3 && pager.totalPages > 5">
            <span class="page-link">...</span>
        </li>
        <li
            class="page-item"
            [ngClass]="{ 'active': pager.currentPage === page }"
            *ngFor="let page of pager.pages"
            (click)="emitActivePage(page)">
            <span class="page-link">{{ page }}</span>
        </li>
        <li
            class="page-item disabled"
            *ngIf="pager.totalPages - pager.currentPage > 2 && pager.totalPages > 5">
            <span class="page-link">...</span>
        </li>
        <li
            class="page-item"
            *ngIf="pager.totalPages - pager.currentPage > 2 && pager.totalPages > 5"
            (click)="emitActivePage(pager.endPage)">
            <span class="page-link">{{ pager.totalPages }}</span>
        </li>
        <li
            class="page-item"
            [ngClass]="{ 'disabled': pager.currentPage === pager.totalPages }"
            (click)="(pager.currentPage < pager.totalPages) && emitActivePage(pager.currentPage + 1)">
            <span class="page-link">
                <svg class="page-link-arrow" version="1.1" id="Capa_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 477.175 477.175">
                    <g>
                        <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                        c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z
                        "/>
                    </g>
                </svg>
            </span>
        </li>
        <li
            class="page-item"
            [ngClass]="{ 'disabled': pager.currentPage > (pager.totalPages - 5) }"
            (click)="(pager.currentPage < pager.totalPages - 3) && emitActivePage(pager.totalPages)">
            <span class="page-link">Last</span>
        </li>
    </ul>
</nav>