<div class="custom-input" [formGroup]="form">
    <input
        class="custom-input-field"
        [id]="model.id"
        [type]="model.type"
        [(ngModel)]="model.value"
        [formControlName]="model.id"
        (ngModelChange)="changeValue()"
        autocomplete="off"
        required>
    <label class="custom-input-placeholder" [for]="model.id">{{ model.placeholder }}</label>
    <label class="custom-input-border"></label>
    <label
        class="custom-input-border"
        [ngClass]="{ 'custom-input-border-error': control.invalid && (control.dirty || control.touched) }"
    ></label>
</div>
<label *ngIf="control.invalid && (control.dirty || control.touched)" class="custom-input-error">{{ model.errorText }}</label>
